node_modules
.turbo
dist
packages/*/dist
# dotenv environment variable files
.env
.env.testnet
.env.mainnet
.env.development.local
.env.test.local
.env.production.local
.env.local
.DS_Store
# Sentry Config File
.sentryclirc

package-lock.json