@import "tailwindcss";

:root {
  --background: 0 0% 3.9%; /* #0a0a0a */
  --foreground: 0 0% 98%; /* #fafafa */
  --card: 0 0% 10%; /* #1a1a1a */
  --card-foreground: 0 0% 98%; /* #fafafa */
  --popover: 0 0% 3.9%; /* #0a0a0a */
  --popover-foreground: 0 0% 98%; /* #fafafa */
  --primary: 0 0% 98%; /* #fafafa */
  --primary-foreground: 0 0% 9%; /* #171717 */
  --secondary: 0 0% 14.9%; /* #262626 */
  --secondary-foreground: 0 0% 98%; /* #fafafa */
  --muted: 0 0% 14.9%; /* #262626 */
  --muted-foreground: 0 0% 63.9%; /* #a1a1a1 */
  --accent: 72 86% 57%; /* #caf033 */
  --accent-foreground: 0 0% 3.9%; /* #0a0a0a */
  --destructive: 0 62.8% 30.6%; /* #991b1b */
  --destructive-foreground: 0 0% 98%; /* #fafafa */
  --border: 0 0% 14.9%; /* #262626 */
  --input: 0 0% 14.9%; /* #262626 */
  --ring: 0 0% 83.1%; /* #dcdcdc */
  --radius: 0.5rem; /* n/a */
  --chart-1: 220 70% 50%; /* #3b82f6 */
  --chart-2: 160 60% 45%; /* #10b981 */
  --chart-3: 30 80% 55%; /* #f59e0b */
  --chart-4: 280 65% 60%; /* #a78bfa */
  --chart-5: 340 75% 55%; /* #ec4899 */
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important; /* Change this color to your desired text color */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -mox-appearance: none;
  appearance: none;
}

input,
input[type="text"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -mox-appearance: none;
  appearance: none;
}
